<html>
    <head>
        <title>Projects Page</title>
    </head>
 
    <body>
        <h1>This is our projects page.</h1>

        <footer style="bottom:0;">
            <p>Copyright 2019</p>
        </footer>
    </body>
</html>